<div class="flex items-center my-6">
  <div class="capitalize mr-4"><%= @id %>:</div>
  <div class="mr-4"><%= @value %></div>
  <div>
    <form action="#" phx-change="update_config">
      <input
        name="<%= @id %>"
        type="range"
        min="<%= @schema.min %>"
        max="<%= @schema.max %>"
        step="<%= @schema.step %>"
        value="<%= @value %>"
        phx-debounce="250"
      >
    </form>
  </div>
</div>
