<div class="flex items-center my-6">
  <div class="capitalize mr-4"><%= @id %>:</div>
  <div>
    <form action="#" phx-change="update_config">
      <select name="<%= @id %>">
        <%= for option <- @schema.options do %>
          <option value="<%= option %>"><%= option %></option>
        <% end %>
      </select>
    </form>
  </div>
</div>
