<div class="row">
  <div class="column column-10">
    <button class="button button-clear"><%= @id %>:</button>
  </div>
  <div class="column column-90">
    <form action="#" phx-change="update_config">
      <select name="<%= @id %>">
        <%= for option <- @schema.options do %>
          <option value="<%= option %>"><%= option %></option>
        <% end %>
      </select>
    </form>
  </div>
</div>
