/* Reset styling in all browsers */

input[type=range] {
  -webkit-appearance: none;
  @apply bg-transparent;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  &:focus {
    @apply outline-none;
  }
}

/* Apply custom styling */

input[type=range] {
  height: 22px;
  @apply my-2;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @apply bg-blue-100 rounded-full;
    height: 22px;
    width: 22px;
    margin-top: -8px;
    @apply cursor-pointer;
  }

  &::-moz-range-thumb {
    @apply bg-blue-100 rounded-full border-none;
    height: 22px;
    width: 22px;
    margin-top: -8px;
    @apply cursor-pointer;
  }

  &::-webkit-slider-runnable-track {
    @apply bg-blue-800 rounded-full;
    height: 6px;
    @apply cursor-pointer;
  }

  &:hover::-webkit-slider-runnable-track {
    @apply bg-blue-600;
  }

  &::-moz-range-track {
    @apply bg-blue-800 rounded-full;
    height: 6px;
    @apply cursor-pointer;
  }

  &:hover::-moz-range-track {
    @apply bg-blue-600;
  }
}
