.container {
  max-width: 120rem;
  color: white;
}

body {
  background-color: #222;
}

div.screen {
  position: relative;
  top: 25px;
  left: 25px;
  height: 325px;
}

span.key,
span.led {
  display: inline-block;
  position: absolute;
  border: 1px solid #222;
}

span.led {
  border-radius: 25px;
}
